/* 
	Stylesheet for my personal web site (Responsive variant)
	Hian Neiva
*/

@font-face { font-family: Dodge; src: url('DODGE.ttf'); } 

body{
	color: white;
	font-family: sans-serif;
	font-size: 120%;
	background: teal;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
}

p{
	text-align: justify;
	margin-bottom: 32px;
}

a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	opacity: 0.5;
	animation-name: linkHover;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

@keyframes linkHover{
	from{
		opacity: 1;
	}
	to{
		opacity: 0.5;
	}
}

.customFont{
	font-family: Dodge;
}

.biggerFont{
	font-size: 200%;
	text-align: center;
	width: 100%;
}

.bigFont{
	font-size: 160%;
	text-align: center;
	width: 100%;
}

.schrodingerDead{
	display: none;
	opacity: 0;
}

.schrodingerAlive{
	display: initial;
	opacity: 1;
	animation-name: catReveal;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes catReveal{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.desktop{
	display: none;
}


.socialIcons{
	background: url("img/social-icons.png");
	display: block;
	height: 64px; 
	width: 64px;
}

#iconLinkedIn{
	background-position: 64px 0;
	position: absolute;
	left: 16px;
}

#iconSteam{
	background-position: 0 64px;
	position: absolute;
	left: 94px;
}

#sideMenu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	text-align: center;
	background-color: #006060;
	z-index: 10;
}

#sideMenu .bigFont{
	padding: 0 4px;
}

#content{
	margin: 72px 16px 16px 16px;
	z-index: 1;
}

#fixedText{
	display: block;
	font-size: 50%;
	text-align: right;
	padding: 4px;
}

#about, #professional, #others, #contact{
	z-index: 5;
}