/* 
	Stylesheet for my personal web site 
	Hian Neiva
*/

 @font-face { font-family: Dodge; src: url('DODGE.ttf'); } 

body{
	color: white;
	font-family: sans-serif;
	font-size: 120%;
	background: teal;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
	/*
	animation-name: mainBG;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease;
	*/
}

/*
@keyframes mainBG{
	from{
		background-color: teal;
	}
	to{
		background-color: ;
	}
}
*/

p{
	text-align: justify;
}

a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color: #00B0B0;
	animation-name: linkHover;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

@keyframes linkHover{
	from{
		color: white;
	}
	to{
		color: #0CC;
	}
}

.customFont{
	font-family: Dodge;
}

.biggerFont{
	font-size: 200%;
}

.bigFont{
	font-size: 160%;
}

.schrodingerDead{
	display: none;
	opacity: 0;
}

.schrodingerAlive{
	display: initial;
	opacity: 1;
	animation-name: catReveal;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes catReveal{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.socialIcons{
	background: url("img/social-icons.png");
	display: block;
	height: 64px; 
	width: 64px;
}

#iconLinkedIn{
	background-position: 64px 0;
	position: absolute;
	left: 16px;
}

#iconSteam{
	background-position: 0 64px;
	position: absolute;
	left: 94px;
}

#sideMenu{
	text-align: center;
	z-index: 10;
	width: 256px;
	height: calc(100% - 32px);
	padding: 16px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("img/sideMenu_BG.png");
	background-color: #006060;
	background-repeat: repeat-y;
	background-position: 0 0;
	animation-name: sideMenuScrolling;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes sideMenuScrolling{
	from{
		background-position: 0 0;
	}	
	to{
		background-position: 0 32px;
	}
}

#content{
	width: calc(100% - 320px);
	height: calc(100% - 32px);
	z-index: 1;
	position: fixed;
	top: 0;
	left: 288px;
	padding: 16px;
}

#fixedText{
	font-size: 50%;
	text-align: right;
	height: 48px;
	width: calc(100% - 40px);
	padding: 4px;
	position: fixed;
	bottom: 0;
	right: 16px;
}

#about, #professional, #others, #contact{
	z-index: 5;
}